<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_LeftSideBar" />
            </div>
            <div class="col-sm-9">
                <partial name="Partial/BlogSingle/_BlogPostArea" />

                <partial name="Partial/BlogSingle/_RatingArea" />

                <partial name="Partial/BlogSingle/_SocialsShare" />

                <partial name="Partial/BlogSingle/_Comments" />

                <partial name="Partial/BlogSingle/_ResponseArea" />

                <partial name="Partial/BlogSingle/_ReplayBox" />
            </div>
        </div>
    </div>
</section>